@inherits LayoutComponentBase

<div class="page" style="background-color:rgb(255 0 0);">
    <div class="sidebar">
        <NavMenu  />
    </div>

    <main>
        <div class="p-4" style="border-bottom: 1px solid #d6d5d5;">
            <h1>MainLayout</h1>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
